<!DOCTYPE html>
<html>
  <head>
    <title>React on Rails Table Filter Demo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag  'event-application-stylesheets', media: 'all' %>
    <%= javascript_pack_tag 'event-application-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>